body {
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(236, 236, 236);
}


/* UTILITIES */

.btn {
    background-color: rgb(0, 91, 196);
    border-radius: 5px;
    color: white;
    padding: 15px;
}
.link {
    font-size: 12px;
    text-decoration: none;
}
.block {
    display: block;
} 

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-right {
    text-align: right;
}

/* MAIN CSS */

.wrapper {
    font-family: 'Poppins', sans-serif;
    color: #1e272e;
}

header {
    display: flex;
    justify-content: right;
    font-size: 13px;
    margin-bottom: 20px;
}

.btn-sign-in {
    margin: 15px;
    padding: 10px 30px 10px 30px;

}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(236, 236, 236);
    font-size: 14px;
}

form {
    width: 380px;
    border: 1px solid #d2dae2;
    padding: 12px;
    margin: auto;
    background-color: white;
}

.form-title {
    text-align: center;
}

.input-container {
    margin: 30px 10px 15px 10px;
}

.input-container label {
    display: inline-block;
}

.input-container label, .input-container small {
    margin-left: 10px;
    margin-bottom: 10px;
}

.dataInput {
    padding: 8px;
    width: 320px;
    border: 1px solid #d2dae2;
}

small {
    font-size: 10px; 
}

.btn-register {
    width: 340px;
    margin-bottom: 20px;
    font-size: 16px;

}

.terms {
    text-align: center;
    font-size: 12px;
    margin: 20px 40px 20px 40px;
    font-style: italic;
}

.reCaptcha {
    background-color: rgb(236, 234, 234);
    text-align: center;
    padding: 20px 12px 20px 12px;
    font-size: 10px;
    border: 1px solid #d2dae2;
    border-top: none;
    width: 380px;
    height: 20px;
    margin: 0 auto;
}

footer {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}

footer a {
    margin: 0 10px 0 10px;
}
